<div class="header-container">
  <table>
    <tbody>
      <tr>
        <td>
          <p class="name">Miguel Ángel Lara Baltazar</p>
          <p class="description">Quiero aprender y practicar más mis hobbies </p>
          <p class="description">y también llegar a ser buen ingeniero</p>
        </td>
        <td>
          <img src="assets/images/Bangboo.jpeg" class="perfil" alt = "profile">
        </td>
        <td>
          <ul>
            <li>
              <img src="../assets/images/email.webp" alt="email">
              miguelbaltaz4r#gmail.com
            </li>
            <li>
              <img src="../assets/images/telefono.png" alt="telefono">
              272 165 1926
            </li>
            <li>
              <img src="../assets/images/ubicacion.png" alt="ubicacion">
              Orizaba, Veracruz
            </li>
            <li>
              <img src="../assets/images/github.png" alt="github">
              #MiguelLaraB
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>