<app-sidebar
  [isCollapsed]="isSidebarCollapsed"
  (sectionToEdit)="setEditingComponent($event)">
</app-sidebar>

<div class="cv-container">
  <header>
    <app-header></app-header>
  </header>

  <div class="content">
    <div class="left-column">
      
      
      <app-work-experience
        *ngIf="visibleSections['workExperience']"
        [isEditing]="editingComponent === 'workExperience'">
      </app-work-experience>
      <app-education *ngIf="visibleSections['education']"></app-education>
    </div>

    <div class="right-column">
      <app-skills *ngIf="visibleSections['skills']"></app-skills>
      <app-achievements *ngIf="visibleSections['achievements']"></app-achievements>
      <app-languages *ngIf="visibleSections['languages']"></app-languages>
      <app-interests *ngIf="visibleSections['interests']"></app-interests>
    </div>
  </div>
</div>